@media only screen and (min-width: 60em) {
    .valores {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    #hamburgerBtn {
        display: none;
    }
    .navBar {
        display: flex;
    }
    .navBar ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 50px;
    }
    .navBar ul li {
        list-style: none;
    }
    .navBar ul li a {
        color: white;
        text-decoration: none;
    }
    .imagenes_marca {
        display: flex;
        max-width: 800px;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    .imagenes_marca picture {
        width: 500px;
        
    }
    .imagenes_marca picture img {
        width: 90%;
        max-width: 500px;
        
    }
    .valores {
        gap: 100px;
    }
    .valores section {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .responsive-container {
        gap:50px;
        justify-content: space-around;
      }
    .responsive {
        width:fit-content;
      }
}